{% extends 'base.html' %}


{% block content %}
<body>

<h1>Create Transfers</h1>

<form action = "post_transfer/" method = "post">
  {% csrf_token %}
  {{form}}
  <input type = "submit" value="submit"/>
  </form>

  <br>

  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<h1>Pending Transfers</h1>

<table>
  <tr>
    <th>From Location</th>
    <th>To Location</th>
    <th>Item</th>
    <th>Delivery Date</th>
  </tr>

  {% for transfer in transfers %}
    <tr>
      <td> {{ transfer.from_loc}}</td>
      <td> {{ transfer.to_loc}}</td>
      <td> {{ transfer.item}}</td>
      <td> {{ transfer.drop_date}}</td>
    </tr>  
  {% endfor%}


  
</table>

</body>
</html>
{% endblock %}